* {
  box-sizing: border-box; }

section {
  width: 100%; }
  section.wetasphalt {
    background: #34495e; }
  section.midnightblue {
    background: #2c3e50; }
  section.emerald {
    background: #2ecc71; }
  section.alizarin {
    background: #e74c3c; }

.container {
  width: 1200px;
  margin: 25px auto;
  padding: 3% 0; }
  .container.fit {
    width: 100%; }
  .container .row::after {
    content: " ";
    display: block;
    clear: both; }
  .container .row .column {
    float: left;
    padding: 10px; }
    .container .row .column.one {
      width: 16.66%; }
    .container .row .column.two {
      width: 33.32%; }
    .container .row .column.three {
      width: 49.98%; }
    .container .row .column.four {
      width: 66.64%; }
    .container .row .column.five {
      width: 83.3%; }
    .container .row .column.six {
      width: 100%; }

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0; } }
@media (max-width: 1200px) and (max-width: 920px) {
  .one {
    width: 16.66%; }
    .one.medium {
      width: 33.33% !important; }

  .two {
    width: 33.32%; }
    .two.medium {
      width: 49.98% !important; }

  .three {
    width: 49.98%; }
    .three.medium {
      width: 66.64% !important; }

  .four {
    width: 66.64%; }
    .four.medium {
      width: 83.3% !important; }

  .five {
    width: 83.3%; }
    .five.medium {
      width: 100% !important; }

  .six {
    width: 100%; } }
@media (max-width: 1200px) and (max-width: 920px) and (max-width: 550px) {
  .one.small, .two.small, .three.small, .four.small, .five.small, .six.small {
    width: 100% !important; } }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif; }
  /* h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { */
  h1 span, h3 span, h4 span, h5 span, h6 span {
    font-size: 14px;
    color: #bdc3c7;
    font-family: 'Open Sans', sans-serif; }

.text.size-normal {
  font-size: 18px; }
.text.no-margin {
  margin: 0; }
.text.center {
  text-align: center; }
.text.white {
  color: #fff; }
.text.black {
  color: #363635; }
.text.turquoise {
  color: #1abc9c; }
.text.greensea {
  color: #16a085; }
.text.emerald {
  color: #2ecc71; }
.text.wetasphalt {
  color: #34495e; }
.text.sunflower {
  color: #f1c40f; }
.text.carrot {
  color: #e67e22; }
.text.alizarin {
  color: #e74c3c; }
.text.clouds {
  color: #ecf0f1; }
.text.silver {
  color: #bdc3c7; }
.text.peterriver {
  color: #3498db; }

.code {
  background: rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 4px;
  color: #34495e; }

button, a {
  outline: none;
  display: block; }
  button:hover, a:hover {
    cursor: pointer; }
    button:hover.disabled, a:hover.disabled {
      cursor: not-allowed; }

.checkbox {
  margin: 10px 0px;
  display: block; }
  .checkbox input {
    margin: 0px 5px;
    vertical-align: middle; }
  .checkbox span {
    vertical-align: middle; }
  .checkbox:hover {
    cursor: pointer; }
  .checkbox .radio {
    visibility: hidden;
    position: relative;
    height: 18px;
    width: 18px; }
    .checkbox .radio.disabled::before {
      background: #ecf0f1;
      border: 3px solid #ecf0f1; }
    .checkbox .radio.disabled::after {
      background: rgba(255, 255, 255, 0.5); }
    .checkbox .radio::before {
      visibility: visible;
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 100%;
      border: 3px solid #bdc3c7;
      background: #bdc3c7; }
    .checkbox .radio:checked:before {
      border: 3px solid #2ecc71;
      background: #fff; }
  .checkbox .check {
    visibility: hidden;
    position: relative;
    overflow: hidden;
    padding: 10px;
    width: 25px;
    height: 25px; }
    .checkbox .check.disabled::before {
      background: #ecf0f1; }
    .checkbox .check.disabled::after {
      background: rgba(255, 255, 255, 0.5); }
    .checkbox .check::before {
      visibility: visible;
      content: " ";
      display: block;
      border-radius: 3px;
      height: 100%;
      width: 100%;
      position: absolute;
      background: #bdc3c7;
      top: 0;
      left: 0; }
    .checkbox .check::after {
      visibility: hidden;
      content: " ";
      display: block;
      height: 5px;
      width: 15px;
      position: absolute;
      border-left: 3px solid #fff;
      border-bottom: 3px solid #fff;
      top: 6px;
      left: 3px;
      transform: rotate(-45deg); }
    .checkbox .check:checked::before {
      background: #2ecc71; }
    .checkbox .check:checked::after {
      visibility: visible; }
  .checkbox .switch {
    visibility: hidden;
    position: relative;
    padding: 10px;
    width: 45px;
    height: 25px; }
    .checkbox .switch.disabled::before {
      background: #ecf0f1; }
    .checkbox .switch.disabled::after {
      background: rgba(255, 255, 255, 0.5); }
    .checkbox .switch::before {
      transition: all 0.3s ease-in-out;
      visibility: visible;
      content: " ";
      border-radius: 30px;
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      background: #bdc3c7;
      top: 0;
      left: 0; }
    .checkbox .switch::after {
      transition: all 0.3s ease-in-out;
      visibility: visible;
      content: " ";
      display: block;
      height: 25px;
      width: 25px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
      border-radius: 100%;
      position: absolute;
      background: #ecf0f1;
      top: 0px;
      left: -1px; }
    .checkbox .switch:checked::before {
      background: #2ecc71; }
    .checkbox .switch:checked::after {
      left: 23px;
      background: #fff; }

.button {
  padding: 10px 30px;
  border: 0px;
  border-radius: 4px;
  position: relative;
  color: #fff;
  margin: 5px 0px;
  overflow: hidden; }
  .button.fit {
    width: 100%; }
  .button.circle {
    border-radius: 100%;
    padding: 12px 18px;
    width: 50px;
    height: 50px;
    display: block;
    box-shadow: 0px 5px 5px #bdc3c7;
    background: #e67e22;
    font-size: 18px; }
  .button.fixed {
    position: fixed;
    z-index: 100; }
    .button.fixed.bottom-left {
      bottom: 15px;
      left: 5px; }
    .button.fixed.bottom-right {
      bottom: 15px;
      right: 5px; }
    .button.fixed.bottom-center {
      bottom: 15px;
      right: 0;
      left: 0;
      margin: 0 auto; }
  .button:active::after {
    background: rgba(0, 0, 0, 0.5); }
  .button.link {
    background: none;
    color: #3498db; }
  .button.normal {
    background: #3498db; }
  .button.success {
    background: #2ecc71; }
  .button.warning {
    background: #f1c40f;
    color: #34495e; }
  .button.danger {
    background: #e74c3c; }
  .button.disabled {
    background: rgba(0, 0, 0, 0.15); }

input {
  outline: none; }

.input {
  border-radius: 4px;
  border: 0;
  padding: 10px;
  margin: 10px 0px;
  font-size: 16px; }
  .input.fit {
    width: 100%; }
  .input.hover.disabled {
    cursor: not-allowed; }
  .input.wetasphalt {
    background: #34495e; }
  .input.midnightblue {
    background: #2c3e50; }
  .input.normal {
    border: 1px solid #3498db; }
  .input.success {
    border: 1px solid #2ecc71; }
  .input.warning {
    border: 1px solid #f1c40f; }
  .input.danger {
    border: 1px solid #e74c3c; }
  .input.disabled {
    border: 1px solid rgba(0, 0, 0, 0.15); }

.navigation {
  border-radius: 4px;
  /* background: #34495e; */
  overflow: hidden; }
  .navigation.alizarin {
    background: #e74c3c; }
  .navigation.pomegranate {
    background: #c0392b; }
  .navigation.carrot {
    background: #e67e22; }
  .navigation.white {
    background: #fff; }
    .navigation.white .brand {
      color: #e67e22; }
    .navigation.white a {
      color: #e67e22; }
  .navigation.fixed {
    position: fixed;
    z-index: 100; }
    .navigation.fixed.top {
      top: 0; }
    .navigation.fixed.bottom {
      bottom: 0; }
  .navigation.no-border {
    border-radius: 0; }
  .navigation.fit {
    width: 100%; }
  .navigation::after {
    content: " ";
    display: block;
    clear: both; }
  .navigation .brand {
    float: left;
    font-weight: 500;
    background: #2ecc71;
    color: #34495e; }
    .navigation .brand h5 {
      margin: 0; }
  .navigation input {
    margin: 12px 10px;
    color: #fff; }
    .navigation input.fit {
      width: 100%; }
  .navigation .burger {
    display: none;
    position: absolute;
    right: 25px;
    background: none;
    padding: 20px 25px;
    border: 0px; }
    .navigation .burger span {
      display: block;
      background: #fff;
      width: 5px;
      height: 5px;
      border-radius: 3px;
      margin-bottom: 3px; }
    .navigation .burger:hover {
      background: rgba(255, 255, 255, 0.5); }
  .navigation a {
    text-decoration: none;
    color: #fff;
    padding: 20px 25px;
    display: block; }
    .navigation a:hover {
      background: rgba(255, 255, 255, 0.5); }
    .navigation a.xlink:hover {
      background: none; }
  .navigation ul {
    padding: 0px;
    margin: 0px; }
    .navigation ul.nav {
      float: left; }
      .navigation ul.nav.fit {
        float: none;
        width: 100%; }
        .navigation ul.nav.fit li {
          float: left; }
      .navigation ul.nav.three li {
        width: 33.33%; }
      .navigation ul.nav.four li {
        width: 25%; }
      .navigation ul.nav.five li {
        width: 20%; }
    .navigation ul.option {
      float: right; }
    .navigation ul li {
      display: inline-block; }

@media (max-width: 920px) {
  ul li.link {
    display: none; }

  .burger {
    display: block !important; } }
.card {
  border-radius: 5px;
  border: 1px solid #ecf0f1;
  overflow: hidden; }
  .card.no-border-radius {
    border-radius: 0px; }
  .card a {
    text-decoration: none; }
  .card header {
    overflow: hidden;
    width: 100%;
    padding: 30px 15px 10px 15px; }
    .card header::after {
      content: " ";
      display: block;
      clear: both; }
    .card header.img {
      padding: 0; }
      .card header.img img {
        width: 100%;
        height: auto; }
  .card .body {
    padding: 10px 15px; }
  .card footer {
    padding: 10px 15px;
    width: 100%; }
    .card footer::after {
      content: " ";
      display: block;
      clear: both; }

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #ecf0f1;
  overflow-x: hidden; }
  .list .item {
    border-bottom: 1px solid #ecf0f1;
    position: relative;
    height: 69px; }
    .list .item:only-child, .list .item:last-child {
      border: 0px; }
    .list .item::after {
      content: " ";
      display: block;
      clear: both; }
    .list .item div {
      padding: 10px; 
      position: relative}
      .list .item div.detail.single {
        height: 100%; }
        .list .item div.detail.single h4, .list .item div.detail.single p {
          display: block;
          line-height: 48px;
          vertical-align: middle; }
      .list .item div.action {
        padding: 0px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0; }
        .list .item div.action ul {
          height: 100%;
          padding: 0;
          margin: 0; }
          .list .item div.action ul li {
            height: 100%;
            display: inline-block; }
        .list .item div.action a {
          padding: 25px 25px;
          font-size: 28px;
          display: block;
          height: 100%;
          width: 100%; }
          .list .item div.action a:hover {
            background: #ecf0f1; }
        .list .item div.action.btn {
          padding: 20px; }
          .list .item div.action.btn label {
            margin: 0; }

.fade-in {
  animation: fade-in 0.2s linear; }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fade-in-up {
  animation: fade-up .2s ease-in-out; }
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fade-in-left {
  animation: fade-left .2s ease-in-out; }
@keyframes fade-left {
  from {
    opacity: 0;
    transform: translate3d(30%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fade-in-right {
  animation: fade-right .2s ease-in-out; }
@keyframes fade-right {
  from {
    opacity: 0;
    transform: translate3d(-30%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fade-out-right {
  animation: fade-out-right .2s ease-in-out; }
@keyframes fade-out-right {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(30%, 0, 0); } }
.fade-out-down {
  animation: fade-down .2s ease-in-out; }
@keyframes fade-down {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 30%, 0); } }
section {
  padding: 91px 0 72px 0;
  height: 100%; }
  section .container {
    margin: 0 auto; }

*::selection {
  background-color: transparent; }

*::-moz-selection {
  background-color: transparent; }

* {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /*IE10*/
  -ms-user-select: none;
  user-select: none;
  /*You just need this if you are only concerned with android and not desktop browsers.*/
  -webkit-tap-highlight-color: transparent; }

.bottom-actions {
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 72px;
  display: block;
  list-style: none; }
  .bottom-actions::after {
    content: " ";
    display: block;
    clear: both; }
  .bottom-actions li {
    height: 100%;
    padding: 10px 0px;
    height: 72px !important;
    width: 33.33% !important;
    float: left;
    text-align: center;
    vertical-align: center; }
    .bottom-actions li a {
      text-decoration: none; }

.hide {
  display: none !important; }

.error {
  padding: 20px; }

.section {
  background: #d9ab7e;
  padding-bottom: 0px;
  border-top: 5px solid #d9ab7e;
  border-left: 5px solid #614138;
  border-bottom: 5px solid #614138;
  border-right: 5px solid #614138;
  height: 100% !important; }
  .section .container {
    padding: 5px; }

.error h1 i {
  font-size: 35px; }

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  width: 15px;
  height: 15px; }
  .loader::after {
    content: " ";
    display: block;
    border-top: 3px solid #e67e22;
    border-bottom: 3px solid #e67e22;
    border-left: 3px solid #e67e22;
    border-right: 3px solid transparent;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    animation: spinner .8s linear infinite; }
@keyframes spinner {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.swtch {
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
  width: 45px;
  height: 30px;
  display: block;
  border-radius: 30px;
  background: #ecf0f1;
  position: relative;
  border: 3px solid #000; }
  .swtch.active {
    background: #2ecc71; }
    .swtch.active::after {
      left: 17px; }
  .swtch input {
    visibility: hidden; }
  .swtch::after {
    content: " ";
    display: block;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out; }

.cbox {
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border: 3px solid #000;
  display: block;
  border-radius: 5px;
  background: #ecf0f1;
  position: relative; }
  .cbox input {
    visibility: hidden; }
  .cbox.active {
    background: #2ecc71; }
    .cbox.active::after {
      display: block; }
  .cbox::after {
    content: " ";
    display: none;
    height: 3px;
    width: 10px;
    position: absolute;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top: 4px;
    left: 4px;
    transform: rotate(-45deg); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../../assets/fonts/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff") format("woff"); }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../../assets/fonts/57TQ-anwthzkETEIO4jESL3hpw3pgy2gAi-Ip7WPMi0.woff") format("woff"); }
html {
  height: 100% !important;
  width: 100% !important; }

body {
  margin: 0;
  height: 100% !important;
  width: 100% !important;
  background: url(../../assets/UI-assets/backdrop.png);
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Open Sans', sans-serif; }

.grab-right {
  float: right; }

.grab-left {
  float: left; }

.list {
  height: 100%;
  overflow: scroll;
  border: 5px solid #0d2b1f !important;
  background: #1b4d33; }
  .list .item {
    /* background: #0d2b1f; */
    border: 0px !important; }
  .list .detail {
    background: #1b4d33;
    height: 100% !important; }

/*# sourceMappingURL=styles.css.map */
