{{ template "header.tmpl" .}}

<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/jquery.md5.js"></script>
<script src="../../assets/js/papaparse.min.js"></script>
<script src="../../assets/js/main.js"></script>
{{if .data}} 
      <script>
            var data = {{ .data}}
            console.log(data);
      </script>
{{end}}
{{ template "footer.tmpl" .}}