{{ template "header.tmpl" .}}
<section>
  <div class="section">
    <div class="container">
      <ul class="list fade-in-up">
          <li class="item ">
            <div class="detail single">
              <p class="text white no-margin">AからZまで並べ替え</p>
            </div>
            <div class="action btn">
              <label class="swtch active">
                <input type="checkbox" name="">
              </label>
            </div>
          </li>
          <li class="item">
            <div class="detail single">
              <p class="text white no-margin">発音を表示する</p>
            </div>
            <div class="action btn">
              <label class="swtch active">
                <input type="checkbox" name="">
              </label>
            </div>
          </li>
          <li class="item">
            <div class="detail single">
              <p class="text white no-margin">翻訳を表示する</p>
            </div>
            <div class="action btn">
              <label class="swtch active">
                <input type="checkbox" name="">
              </label>
            </div>
          </li>
          <li class="item">
            <div class="detail single">
              <p class="text white no-margin">登録時刻を表示する</p>
            </div>
            <div class="action btn">
              <label class="swtch active">
                <input type="checkbox" name="">
              </label>
            </div>
          </li>
        </ul>
    </div>
  </div>
</section>
<style>
    section {
    padding-top: 60px; }

    label {
    margin: 0; }
    label .switch::before {
        border: 2px solid #000; }
    label .switch::after {
        top: 2px !important;
        left: 2px !important; }
    label .switch:checked::after {
        left: 22px !important;
        background: #fff; }

    .container {
    height: 100% !important; }
</style>

{{if .data}}
<script>
    var data = {{.data}};
    console.log(data);
</script>
{{end}}